<!--有回复的聊天框-->
<div ng-repeat="comment in commentOthers" class="commentBox">
    <div class="userHand">
        <img ng-src="{{comment.user.avatar_url}}" draggable="false" class="userPic">
    </div>
    <div class="commentMain">
        <p>
            <span class="userName">{{comment.user.name}}</span>
            <span on-touch="favours(1,{{comment.id}},$event)" ng-controller="favours">
                <span class="praiseImg"></span>
                <span class="praise">{{comment.favours}}</span>
            </span>
        </p>
        <p class="commentMainWord">{{comment.content}}</p>
        <p class="originComm" ng-if="origin"><span>来源：</span>{{comment.journal.name}}</p>
        <p class="replayBox">
            <span class="replay" on-touch="sendOutBox('commentReplies',{{comment.id}},$event)">回复</span>
            <span class="commentTime">{{comment.created_at}}</span>
        </p>
        <div class="commentBack" ng-repeat="commentBack in comment.relies">
            <img class="commentBackImg" ng-src="{{commentBack.user.avatar_url}}" draggable="false">
            <div class="commentBackMain">
                <p>
                    <span class="commentBackName">{{commentBack.user.name}}</span>
                    <span class="commentBackTime">{{commentBack.created_at}}</span>
                </p>
                <p class="commentBackData">{{commentBack.content}}</p>
            </div>
        </div>
    </div>
</div>