<!--社区-->
<ion-content padding="false" scroll="true" overflow-scroll="true" has-bouncing="true">
    <ion-pane>
        <ion-list>
            <ion-item class="commIonList">
                <div class="clearfix commLineHeight">
                    <span class="communityItemLeft">热门标签</span>
                    <span class="communityItemRight" on-touch="tabSlideDown()" ng-if="slideDownIndexBut">查看全部</span>
                    <span class="close" on-touch="tabSlideDown()" ng-if="!slideDownIndexBut"></span>
                </div>
            </ion-item>
        </ion-list>
        <ion-scroll ng-class="{'scrollHeight': slideDownIndex == false}" direction="y" delegate-handle="communityScroll">
            <ion-list>
                <community-float-box></community-float-box>
            </ion-list>
        </ion-scroll>
        <ion-item class="commIonList" ng-show="slideDownIndex">
            <div class="commLineHeight">
                <span class="communityItemLeft"></span>
            </div>
        </ion-item>
        <ion-scroll class="scrollHeight" direction="y" delegate-handle="mainScroll" ng-show="slideDownIndex">
            <ion-list>
                <community-comment></community-comment>
            </ion-list>
        </ion-scroll>
    </ion-pane>
</ion-content>