<ion-header-bar align-title="center" class="bar-positive">
    <!--滑动按钮-->
    <div class="buttons" menu-toggle="left" ng-if="!leftButtonShow" on-touch="openSlide()">
        <a class="button" ng-class="leftButton" ui-sref="{{leftUrl}}"></a>
    </div>
    <!--搜索按钮-->
    <div class="buttons" ng-if="searchButtonShow">
        <a class="button" ng-class="leftButton" ui-sref="main.search"></a>
    </div>
    <!--我的评论按钮-->
    <div class="buttons" ng-if="commentButtonShow">
        <a class="button" ng-class="leftButton" ui-sref="main.userComment"></a>
    </div>
    <!--我的收藏-->
    <div class="buttons" ng-if="collectNewsButtonShow">
        <a class="button" ng-class="leftButton" ui-sref="main.userCollection"></a>
    </div>
    <!--普通按钮-->
    <div class="buttons" ng-if="leftButtonShow && !searchButtonShow && !commentButtonShow && !collectNewsButtonShow">
        <a class="button" ng-class="leftButton" ui-sref="{{leftUrl}}"></a>
    </div>
    <h1 class="title" ng-class="headerTitleStyle" ng-if="contentShow">{{headerTitle}}</h1>
    <div class="buttons" on-touch="revise()">
        <a class="button" ng-class="rightButton" ui-sref="{{rightUrl}}" ng-if="rightButShow"></a>
    </div>
    <div class="buttons search">
        <a class="button" ng-class="searchButton" ui-sref="main.search" ng-if="searchShow"></a>
    </div>
</ion-header-bar>