<!--搜索栏目-->
<div collection-repeat="new in news" ui-sref="main.mainText" data-id="{{new.Id}}" class="newsBoxStyle userCollectionNewsBox"
     ng-class="newsBoxStyle" ng-click="searchFor(new.Id,new.OperType)">
    <div>
        <img ng-src="{{new.PicName}}" class="homeNewImg" draggable="false" ng-if="newsImgShow">
        <div ng-class="{'homeNewMain': newsImgShow == true,'textNewMain': newsImgShow == false}">
            <h2 class="homeNewTitle">{{new.Title}}</h2>
            <p class="homeNewAuthor"><span ng-if="originShow">来源：<span>{{new.Source}}</span></span> &nbsp;作者：<span>{{new.Author}}</span> &nbsp;<span>{{new.PublishUtcDate}}</span></p>
        </div>
    </div>
</div>