<ion-content class="top0" padding="false" scroll="true" overflow-scroll="true" has-bouncing="true" ng-controller="userBox">
    <ion-pane class="userHeadBox" menu-close ui-sref="main.signIn">
        <div class="userDataBut" ng-if="signOutBut"></div>
        <div class="verticalAlignMiddle">
            <img class="headPic" ng-src="{{userHeadPic}}">
            <p class="userName">{{userName}}</p>
        </div>
    </ion-pane>
    <ion-pane class="userDataBox">
        <loadinbut></loadinbut>
        <button class="button button-light signOut" on-touch="signOut()" menu-close ng-if="signOutBut">
            退出登录
        </button>
    </ion-pane>
</ion-content>