<!--登录页面-->
<div class="userTextBox" ng-style="myTop">
    <input class="userText" ng-style="userText" ng-model="user.username" type="text" placeholder="{{text1}}"/>
    <input class="userText" ng-style="userText" ng-model="user.email" type="email" placeholder="{{text3}}" ng-if="!thirdLoginShow"/>
    <input class="userText" ng-style="userText" ng-model="user.password" type="password" placeholder="{{text2}}"/>
    <input class="userText" ng-style="userText" ng-model="user.password_confirmation" type="password" placeholder="   确认密码" ng-if="!thirdLoginShow"/>
    <p class="forget" ng-if="thirdLoginShow">忘记密码?</p>
    <p on-touch="checkTouch()"><ion-checkbox ng-if="!thirdLoginShow" class="userCheckbox">同意本网站条款</ion-checkbox></p>
    <button ng-style="userText" class="button button-calm landBut" ng-click="land($event)">
        {{but1}}
    </button>
    <button ng-style="userText" ng-show = 'but2Show' class="button landBut" ng-click="register($event)">
        {{but2}}
    </button>
</div>