<!--评论模块-->
<div ng-repeat="comment in comments" class="commentBox">
    <div class="userCommentMain userCommentMargin" ng-click="userComment(comment.journal.id)" ui-sref="main.mainText">
        <span class="commentTime">{{comment.created_at}}</span>
        <span>
            <span class="praiseImg"></span>
            <span class="praise">{{comment.favours}}</span>
        </span>
        <p class="commentMainWord">{{comment.content}}</p>
        <p class="originComm"><span>来源：</span>{{comment.journal.name}}</p>
        <p class="replayBox"></p>
    </div>
</div>